

* , *::after, *::before  {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  font-size: 20px;
  line-height: 1.5;
}

.App{
    background-color: #F1DDDF;
  
  display: flex;

    height : 100vh;
    align-items: center;
    justify-content: center;
    margin : 0 auto;

    
}

.container {
   
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
  
}   

.paper {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;

    margin: 20px;
    text-align: center;
    width: 100%;
   
}
